# Python virtual environment
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log

# Model results and caches
Third_Phase/results/
Third_Phase/*/results/
*.npy
